 /* daft punk logo sur coté */


 /* -------------------------------------------
            @@@ main 
--------------- --------------------------- */
 
 .app-top {
    display: flex;
    justify-content: flex-start;
    overflow: scroll;
    height: 100vh;   /* Pour fixe le footer*/
} 

.album {
    display: flex;
    justify-content: space-between;
    color: red;
}

.tracklist {
    display: flex;
    flex-direction: column;
}  


.album-infos h1 {
    display: flex;
    justify-content: center;
    flex-grow: 6;
}



.track-item {
    display: flex;
    flex-grow: 3;
    justify-content: space-between;
} 

/* -----------------------------------------------------

                    @@@ FOOTER
--------------------------------------------------------*/

.app-bottom {
    display: flex;  
    justify-content: space-between;

}

.current {
    display: flex;
    flex-grow: 1;
}

.controls {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.current-details {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}